mixin norate(bs)
  if (bs== 0.00)
    |  No Rating Found
  else
    |  Average Rating #{bs}

div.row
  for beer, ind in order.locbeers
    if (ind%3== 0)&& ind!= 0
      div.clearfix
    div.col-md-4
      article
        h4= beer.name
        p Style: #{beer.style} |
          +norate(beer.score.toFixed(2))