mixin breweryTile(b, index)
  article.brewery.panel.panel-default
    header.panel-heading
      h1(data-ind= index, data-lat= b.lat, data-lng= b.lng, data-addr= b.address)= b.name
      button(type= "button").btn.btn-primary.addBrew Add Brewery
    div.details.panel-body
      p= b.address
      a(href="tel:#{b.phone}")= b.phone
      if b.menu
        //-a(href="#{b.menu}") Menu

section.breweryList
  header
    h1 Breweries
    div.input-group
      span.input-group-addon Search for Breweries
      input(type="text", class="form-control", placeholder="Search for a location")#brewSearch
  div.row
    each b, index in breweries
      div.col-md-6
        +breweryTile(b, index)
      if index%2!= 0
        div.clearfix