div.panel.panel-default
  div.panel-heading
    h1 Uber Estimates
  section.panel-body
    each val, index in ubl
      h2(data-pid= "#{val.product_id}")= val.localized_display_name
        button(type="button").btn.btn-default.uberCall Call for this car
      p Price: #{val.estimate}
      p Wait: #{Math.floor(val.duration / 60)} minutes