doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='https://cdn.socket.io/socket.io-1.2.1.js')
    script(src='/js/bootstrap.js')
  body
    //- nav(role="navigation").navbar.navbar-default.navbar-static-top
    //-   div.container
    //-     div.navbar-header
    //-       a(href="#").navbar-brand Chicago Brewery Tours
    //-     div.collapse.navbar-collapse
    //-       ul.nav.navbar-nav
    //-         li
    //-           a(href="/blog") Blog
    //-       div.btn-group.nav.navbar-nav.navbar-right
    //-         button(type="button").btn.btn-default.navbar-btn Log In
    //-         button(type="button").btn.btn-default.navbar-btn Sign Up
    block header
      
    div.container
      block content

      block footer