doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='https://cdn.socket.io/socket.io-1.2.1.js')
    script(src='/js/bootstrap.js')
  body
    block header
    div.container-fluid
      block content
      block footer