body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

/* Needs massive style clean-up */

/* overrides */
.tab-content {
  margin-top: -1px;
}
/* end overrides */

#map-canvas {
  width: 100%;
  height: 500px;
  position: relative;
}
.markerAdd {
  width: 100%;
}
#directionsHeader {
  height: 5%;
  width: 25%;
  display: none;
  background: #FFF;
  z-index: 1000;
  position: absolute;
  right: 0;
  padding-left: 10px;
}
#directionsHeader a {
  padding-left: 5px;
}
#directions {
  height: 100%;
  width: 25%;
  display: none;
  background: #FFF;
  z-index: 999;
  position: absolute;
  right: 0;
  top: 3%;
  overflow-y: scroll;
}
.brewery {
  /*width: 30%;*/ /*maybe change to 45*/
  /*width: 47.5%;
  margin-right: 5%;
  display: inline-block;*/ /*float left may work better if the heights are different*/
}
#plannedRoute {
  display: inline-block;
}
#plannedRoute li {
  display: inline-block;
  padding-right: 10px;
}
#transportSelect button:first-child {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
#saveStart {
  display: inline-block;
}
.breweryList header {
  margin-bottom: 20px;
}
/* TOUR LAUNCH STYLES */
#tourWalk {
  margin-top: 50px;
}
.uberForm {
  display: none;
}
/* FOOTER STYLES */
footer a {
  padding: 10px;
  text-align: center;
}

/* OTHER STYLES */
.editTextHold {
  padding-left: 10px;
}